/*Über mich*/

.aboutme {
    height: auto;
    background: #06858C;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    align-content: center;
    -webkit-box-shadow: 10px 10px 32px -7px rgba(6, 133, 140, 0.75);
    -moz-box-shadow: 10px 10px 32px -7px rgba(6, 133, 140, 0.75);
    box-shadow: 10px 10px 32px -7px rgba(6, 133, 140, 0.75);
}

.aboutme img {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.VollseiteText {
    width: 100%;
}