/*Home*/

* {
    margin: 0;
    padding: 0;
}

.start {
    height: 100vh;
    width: 100vw;
}

.titleContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
    opacity: var(--opacity);
    transform: scale(var(--scale));
    transition: transform .1s linear, opacity .1s inear;
    will-change: transform, opacity;
}

.backgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/1.JPG');
    background-size: cover;
    background-position: center 30%;
    -webkit-filter: blur(var(--blur));
    -moz-filter: blur(var(--blur));
    -o-filter: blur(var(--blur));
    -ms-filter: blur(var(--blur));
    filter: blur(var(--blur));
    z-index: -1;
    transform: scale(var(--scale));
    will-change: filter, transform;
}

.hidden {
    visibility: hidden;
}

.titlecontent {
    height: 80vh;
    width: 100vw;
    position: relative;
}

h6 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    opacity: var(--opacity2);
    transform: scale(var(--scale2));
    will-change: opacity, transform;
    margin-bottom: 5px;
    transition: transform .1s linear, opacity .1s inear;
}

p {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 24px;
    opacity: var(--opacity3);
    will-change: opacity;
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    h6 {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}