/*Kenntnisse*/

.skills {
    height: auto;
    background: #45C48B;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    -webkit-box-shadow: 10px 10px 32px -7px rgba(69, 196, 130, 0.75);
    -moz-box-shadow: 10px 10px 32px -7px rgba(69, 196, 130, 0.75);
    box-shadow: 10px 10px 32px -7px rgba(69, 196, 130, 0.75);
}

.contentBoxImg {
    width: 20%;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

.contentBoxImg img {
    height: 50px;
}

.contentBoxImgGross {
    width: 30%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width:800px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
}

.item {
    width: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.HalbseiteText {
    width: 50%;
    display: center;
    align-items: center;
    justify-content: center;
}

.HalbseiteTextGross {
    width: 70%;
    display: center;
    align-items: center;
    justify-content: center;
}