/*Kenntnisse*/

.contentBoxImg {
    width: 20%;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

.grid-item img {
    height: 50px;
}

.grid-item-big img {
    height: 150px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

@media (max-width:800px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
}

.grid-item {
    line-height: 1.8;
    width: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.grid-item img {
    height: auto;
    width: 50px;
}

.HalbseiteText {
    width: 50%;
    align-items: center;
    justify-content: center;
}