@font-face {
    font-family: "IBM Plex Sans";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", Times;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 28pt;
    font-variation-settings: 'wght' 100, 'wdth' 85;
    animation: breathe 8000ms infinite forwards;
    display: block;
}


/* 
@keyframes breathe {
    60% {
        font-variation-settings: 'wght' 700, 'wdth' 100;
    }
    100% {
        font-variation-settings: 'wght' 100, 'wdth' 85;
    }
} */